In [4]:
import pymysql
import pandas as pd

connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='capstone',
                             db='capstone')

In [5]:
query = "SELECT * FROM QA_FINAL"
df = pd.read_sql(query, connection)

In [6]:
df.head()

,answers_id,answers_body_clean,answers_score,questions_id,questions_body_clean,questions_score
0,answers_id,answers_body_clean,0.0,questions_id,questions_body_clean,0.0
1,4e5f01128cae4f6d8fd697cec5dca60c,Hi! You are asking a very interesting question...,0.0,332a511f1569444485cf7a7a556a5e54,What is a maths teacher? what is a ma...,1.0
2,ada720538c014e9b8a6dceed09385ee3,Hi. I joined the Army after I attended college...,0.0,eb80205482e4424cad8f16bc25aa2d9c,I am Priyanka from Bangalore . Now am in 10th ...,5.0
3,eaa66ef919bc408ab5296237440e323f,"Dear Priyanka, Greetings! I have answered this...",0.0,eb80205482e4424cad8f16bc25aa2d9c,I am Priyanka from Bangalore . Now am in 10th ...,5.0
4,1a6b3749d391486c9e371fbd1e605014,I work for a global company who values highly ...,0.0,4ec31632938a40b98909416bdd0decff,I'm planning on going abroad for my first job....,2.0