Original code from capstone_recommendation.py

In [ ]:
connection = pymysql.connect(host='35.226.35.190',
                             user='root',
                             password='capstone',
                             db='capstone')

query = '''SELECT * FROM QA_FINAL'''

data = pd.read_sql(query, connection)

In [1]:
import pandas as pd
import json
import pymysql
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re, string

In [2]:
data = pd.read_csv('../../data-science-for-good-careervillage/data/qa_dataset_final.csv')

In [3]:
data.head()

,answers_id,answers_body_clean,answers_score,questions_id,questions_body_clean,questions_score
0,4e5f01128cae4f6d8fd697cec5dca60c,Hi! You are asking a very interesting question...,0.0,332a511f1569444485cf7a7a556a5e54,Teacher career question What is a maths...,1.0
1,ada720538c014e9b8a6dceed09385ee3,Hi. I joined the Army after I attended college...,0.0,eb80205482e4424cad8f16bc25aa2d9c,I want to become an army officer. What can I d...,5.0
2,eaa66ef919bc408ab5296237440e323f,"Dear Priyanka, Greetings! I have answered this...",0.0,eb80205482e4424cad8f16bc25aa2d9c,I want to become an army officer. What can I d...,5.0
3,1a6b3749d391486c9e371fbd1e605014,I work for a global company who values highly ...,0.0,4ec31632938a40b98909416bdd0decff,Will going abroad for your first job increase ...,2.0
4,5229c514000446d582050f89ebd4e184,I agree with Denise. Every single job I've had...,0.0,2f6a9a99d9b24e5baa50d40d0ba50a75,To become a specialist in business management...,2.0

In [37]:
import string

# read in BLS career dataset
occ_df = pd.read_csv('../0_data/All_Career_Clusters.csv')

# get just the occupation names
occ_raw = occ_df['Occupation'].to_list()

# new list occupations will convert plural occupations to singular
occupations = []
for occ in occ_raw:
    occ_new=[]
    for word in occ.split(' '):
        if word[-1]=='s':
            occ_new.append(word[:-1])
        else:
            occ_new.append(word)
    occupations.append(' '.join(word for word in occ_new))

# add this new column to the original df
occ_df['Occupation_clean']=occupations

# split up question dataset
questions_ids = list(data.questions_id.unique())
questions_df = data[data.questions_id.isin(questions_ids)].dropna()
questions = list(questions_df.questions_body_clean.unique())


vec = TfidfVectorizer(max_features=5000)
vec.fit_transform(questions)

# Vectorize the question and occupation lists
vec_matrix = vec.transform(questions).todense()
occ_matrix = vec.transform([occ.lower() for occ in occupations]).todense()

def find_answers(q_id):
    answers = list(data[data.questions_id == q_id].answers_body_clean)
    return answers

def find_similar_questions(question_body):
    
    # remove punctuation from input question and make lower-case
    question_body_clean = question_body.lower().translate(str.maketrans('', '', string.punctuation))
    
    # vectorize input question
    x = vec.transform([question_body_clean]).todense()
    
    # first get the similar questions
    scores = cosine_similarity(x, vec_matrix)
    similar_inds = scores.argsort()[0][-6:-1]
    similar_qs = pd.DataFrame([questions[i] for i in similar_inds], columns = {'questions_body_clean'})
    similar_q_join = pd.merge(left = similar_qs, right = questions_df, on ='questions_body_clean', how='inner')
    out = similar_q_join[['questions_id','questions_body_clean','answers_score','answers_body_clean']]
    
    # now find the most similar BLS occupation name
    occ_scores = cosine_similarity(x, occ_matrix)
    best_ind = occ_scores.argsort()[0][-1]
    best_occ = occupations[best_ind]
    print(best_occ)
    # get the corresponding SOC code for that job
    occ_soc = occ_df.loc[occ_df['Occupation_clean'] == best_occ,'Code'].iloc[0]
        
    # add the input question, closest occupation and occupation SOC code to the output
    out['input_question_body']=question_body
    out['closest_occupation'] = best_occ
    out['soc_code'] = str(occ_soc)
    
    # rename some columns
    out = out.rename(columns={'questions_id':'question_id','questions_body_clean':'question_body','answers_score':'score',
                        'answers_body_clean':'answers'})
    
    return out

In [41]:
find_similar_questions('How DO I BECOME a surgeon')

Surgeon

/Users/lucyxie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,question_id,question_body,score,answers,input_question_body,closest_occupation,soc_code
0,8f45c988d8134bfe8cefcfc094d889f5,What classes can I take in college or what sho...,0.0,Great question. Here’s what I did:,How DO I BECOME a surgeon,Surgeon,29-1067.00
1,1a49d37c4c614d7caa033b797711b220,What colleges should I go if I want to become ...,0.0,If by college you mean undergraduate (4 year) ...,How DO I BECOME a surgeon,Surgeon,29-1067.00
2,b20c639d0b6249bf96011dd5b2fd7867,What is it like to be a surgeon? I have wanted...,0.0,I can't say personally what it's like but my d...,How DO I BECOME a surgeon,Surgeon,29-1067.00
3,007333b935214f399483f7b1bd07d693,What are some classes I need to become a surge...,0.0,"Hi Haley, In order to become a surgeon you nee...",How DO I BECOME a surgeon,Surgeon,29-1067.00
4,0e0b298c38dd48ecbc42e31ed5af24c8,What do I need to study to become a surgeon? I...,1.0,I agree with the prior answer : focus on doing...,How DO I BECOME a surgeon,Surgeon,29-1067.00
5,0e0b298c38dd48ecbc42e31ed5af24c8,What do I need to study to become a surgeon? I...,1.0,First you will need to do all of your general ...,How DO I BECOME a surgeon,Surgeon,29-1067.00
6,0e0b298c38dd48ecbc42e31ed5af24c8,What do I need to study to become a surgeon? I...,1.0,Hi Justin! Hope you are well! In order to beco...,How DO I BECOME a surgeon,Surgeon,29-1067.00

In [115]:
df = pd.DataFrame(columns=['user_question','question_body','answers'])
for q in test_questions:
    test = find_similar_questions(q)
    test_combined = pd.DataFrame(test.groupby('question_body')['answers'].apply(lambda x: "%s" % ', '.join(x))).reset_index()
    test_combined['user_question']=q    
    df = df.append(test_combined, sort=False)

In [116]:
df.head()

,user_question,question_body,answers
0,What does a data scientist do?,"Hello, I am going to a liberal art college ...","Hi Yingyi, Great question and excited to see ..."
1,What does a data scientist do?,I want to be a scientist #scientist #researcher,Researcher is a very thrilling and demanding p...
2,What does a data scientist do?,I'm currently a third year computer science ma...,"Hey Albert, awesome to see you're interested i..."
3,What does a data scientist do?,"I've been looking into data science careers, a...",Data Science is a rather broad field that cove...
4,What does a data scientist do?,What kind of companies do data scientists work...,"The definition of this newfangled title ""data ..."